/* style of body of page to grey */
.body {
    background-color: lightgrey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    background-color: white;
}

/* style of navbar */
.heading {
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:left;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.navbar-nav, .nav-item {
    margin-left: 60px;
    color:white;
    text-align: right;
}

.navbar {
    background-color: midnightblue;
    padding:5px;
    color:white;
}

.navbar li a {
    color:white;
}

.navbar-toggler {
    background-color:white;
}

/* index page */

  .vis_image {
      height:500px
  }

tr:nth-child(even) {
      background-color: lightgray;
    }

table {
    border-collapse: separate;
    border-spacing: 15px 15px;
    background-color: white;
    align-self: center;
}    

  .border {
      border:20px;
      border-color:midnightblue;
  }

  /* resixing */
 
@media (max-width: 480px) {
        .table > tbody > tr td {
            display: inline-block;
            width: 100%
        }
        .table > tbody > tr td input {
            width: 100%
        }
    }